# Application Under Test
BASE_URL=https://www.saucedemo.com/
TEST_USERNAME=standard_user
TEST_PASSWORD=secret_sauce

# Browser Settings
BROWSER=chromium
HEADLESS=true
SLOW_MO=0

# API Under Test
API_BASE_URL=https://restful-booker.herokuapp.com
